<!-- <section class="container" *ngFor="let product of products">
    <div class="card" *ngFor="let product of products">
        <div class="content-1">
            <div class="logo-img">
                <img src="../../../assets/images/leaf.png" alt="">
            </div>
            <img src="{{product.imgSrc}}" alt="">
        </div>
        <div class="content-2">
            <div class="branding">
                <span>{{product.name}}</span>
                <span></span>
                <span>NEW</span>
            </div>
            <hr>
            <div class="description">
                <h3>Description</h3>
                <p>{{product.description}}</p>
            </div>
            <hr>
            <div class="price">
                <span> Price : {{product.price}}</span>
                <div class="plusBtn"><button class="btn">+</button></div>
            </div>
        </div>
    </div>
</section> -->
