<div class="wrapper">
  <div class="cols cols0">
    <span class="topline">Hello</span>
    <h1 class="store-name">Unique <span class="multiText">Store</span></h1>
    <p>
      This is our online store offering the men trend products with high
      quality, good variety and perfect pricing.
    </p>
    <div class="btns">
      <button routerLink="/products" class="home-btn">Shop Now</button>
    </div>
  </div>
  <div class="cols cols1">
    <div class="imgbox">
      <img src="../../../assets/images/image.png" />
    </div>
  </div>
</div>
<section id="winter-collection">
  <div class="container">
    <div class="sc-content">
      <h1>Winter Collection</h1>
      <p class="description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nobis
        iste impedit excepturi facere unde enim! Autem ipsam assumenda deleniti,
        possimus voluptatum, ab aut fugit quia eligendi doloribus earum fuga.
      </p>
    </div>
    <div class="sc-media">
      <div class="sc-media-bg">
        <img
          src="https://r1.ilikewallpaper.net/ipad-air-wallpapers/download/17203/Winter-Snowfall-ipad-air-wallpaper-ilikewallpaper_com.jpg"
          alt="sc-image"
        />
      </div>
    </div>
  </div>
</section>
<app-products></app-products>
